<h2><%= @question.content %> asked by <%= @question.user.email %> at <%= @question.created_at.to_date %></h2>

<h3><%= link_to 'Answer Question', new_question_answer_path(@question) %></h3>

<% @question.answers.each do |answer| %>
  <p><%= answer.content %></p>
  <p><%= answer.user.email %> at <%= answer.created_at.to_date %></p>

<% end %>